<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/prestyle.css">
</head>
<body>
    <img class="pre" src="../static/img/preparations_en.png" width="50%" />
    <a href="http://192.168.0.10:9999/ai_list_en"><img class="arrow" src="../static/img/arrow.png"/></a>

</body>
</html>