img.pre{
    position: absolute;
  left: 500px;
  top: 100px;
}

img.arrow{
    position: absolute;
  left: 1310px;
  top: 135px;
  animation: up-down 1.0s infinite ease-in-out alternate;
}

@keyframes up-down{
    from{
      transform: translatey(0px);
    }
    to{
      transform: translatey(-5px);
    }
  }