img{
  position: absolute;
  left: 750px;
  top: 300px;
}

button.TEST{
    width : 200px;
    height : 60px;
    background-color: white;
    color: #004fff;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 600px;
    left : 850px;
    border-color: #004fff;
  }

  button.TEST:focus{
    outline:0;
  }

  button.TEST:hover{
    background-color:rgba(239, 241, 245, 0.9) ;
    cursor:pointer;
  }

  button.LOGIN{
    width : 100px;
    height : 30px;
    background-color: white;
    color: #004fff;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 120px;
    left : 1250px;
    border-color: #004fff;
  }

  button.LOGIN:focus{
    outline:0;
  }

  button.LOGIN:hover{
    background-color:rgba(239, 241, 245, 0.9) ;
    cursor:pointer;
  }